body {
    margin-left: 20%;
    margin-right: 20%;
}
h1, h2 {
    font-family: sans-serif;
    color: #6fa5fa;

}
h1 {
    text-decoration: underline;
}
p.duola {
    color: dodgerblue;
}
p.teemo {
    color: #ffdea2;
}
p.icon {
    color: #4bd5ff;
}